* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: monospace;
	font-size: 36px;
	background-color: #7886d1;
}

#app {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
	max-width: 900px;
	margin: 0 auto;
	min-height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	border: 3px solid #000;
	background-color: #e2dfdf;
	box-shadow: 0 0 10px 2px #2b2a2a;
}

.display {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border: 1px solid #000;
	border-radius: 10px;
	background-color: #bab9b9;
	height: 80px;
	margin: 10px 10px 0 10px;

	span {
		padding: 0 18px;
	}
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 450px;
	padding: 10px;
	gap: 2px;

	button {
		background-color: #b8b5b5;
		flex: 1 22%;
		padding: 15px;
		font-size: 26px;
		border: 1px solid #000000;
		font-family: monospace;
	}

	& .operator,
	.percent,
	.sign,
	.decimal {
		background-color: orange;
	}

	& .backspace {
		background-color: #e94536;
	}

	& .equals {
		background-color: green;
	}

	& .clear {
		background-color: crimson;
	}

	& #zero {
		background-color: #7c479b;
	}

	& .active {
		background: #f8ef8fea;
	}

	& .blink {
		background-color: #cccccc !important;
	}
}

.info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 400px;
	padding: 12px;
	row-gap: 10px;
	font-size: 20px;
	border: 2px solid #aca5b3;
	line-height: 1;
	background-color: #c2ccef;
	border-radius: 5px;
	box-shadow: 3px 3px 10px 2px #2b2a2a;

	& p {
		font-size: 16px;
		line-height: 1.1;
	}
}
